@model List<Web.DataModel.sp_SearchUser_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>GetUser</title>
    <style>
        .container {
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <form>
        <div class="container">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">idxUser</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">City</th>
                        <th scope="col">Hobby</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.idxUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hobby)
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.crs_ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.crs_ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.crs_ID })
                            </td>*@
                        </tr>
                    </tbody>
                }

            </table>
            </div>
    </form>
    
    
</body>
</html>
